extends layout
block content
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
	for friend in data
		li(class= 'list-group-item') #{friend.username} 
			button(onclick="addfriend('#{friend._id}')").pull-right Xác nhận bạn bè


				
 



























	
		
		